                                            /* GENERALI */
body{
  margin: 0;
  background: white;
  font-size: 15px;
  line-height: 1.6;
  color: black;
  -webkit-font-smoothing: antialiased;
}
section{
  display: -webkit-box;
}
a{
  color: white;
}
       /* BARRA ORIZZONTALE */

#topbar{
  background: rgba(134,181,204,1);
  background: -moz-linear-gradient(45deg, rgba(134,181,204,1) 0%, rgba(134,181,204,1) 17%, rgba(1,33,96,1) 29%, rgba(1,33,96,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(134,181,204,1)), color-stop(17%, rgba(134,181,204,1)), color-stop(29%, rgba(1,33,96,1)), color-stop(100%, rgba(1,33,96,1)));
  background: -webkit-linear-gradient(45deg, rgba(134,181,204,1) 0%, rgba(134,181,204,1) 17%, rgba(1,33,96,1) 29%, rgba(1,33,96,1) 100%);
  background: -o-linear-gradient(45deg, rgba(134,181,204,1) 0%, rgba(134,181,204,1) 17%, rgba(1,33,96,1) 29%, rgba(1,33,96,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(134,181,204,1) 0%, rgba(134,181,204,1) 17%, rgba(1,33,96,1) 29%, rgba(1,33,96,1) 100%);
  background: linear-gradient(45deg, rgba(134,181,204,1) 0%, rgba(134,181,204,1) 17%, rgba(1,33,96,1) 29%, rgba(1,33,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b5cc', endColorstr='#012160', GradientType=1 );
  background-size: contain;
  height: 60px;
  z-index: 10;
  position: fixed;
  width: 100vw;
  margin: 0;
  margin-left: 0px;
  margin-top: 0px;
}
.top-nav{
  display: flex;
  margin: 0 auto;
  padding: 0px;
  position: fixed;
}
.top-nav li{
  list-style: none;
  border-radius: 10px;
}
.top-nav li:first-child{
  margin-left: 75px;
}
.logo a{
  color:white;
  background:#86b5cc;
  padding:10px 10px 7px 10px;
  text-decoration: none;
  display: block;
  margin-top: -20px;
  margin-left: 10px;
  font-size: 27px;
}
.logo a:hover{
  color:#BECBBC;
}
.non-logo a{
  padding:10px 5px;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}
.non-logo a:hover{
  color:#BECBBC;
}
.attivo{
  color: #F0D409 !important;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}
a.attivotop {
  background: white;
  color:black;
  margin: 5px;
}
.btn-mostra{
  display: none;
  font-size: 27px;
  padding: 9px 0;
}

        /* BARRA LATERALE */
#lat-bar{
  height: 100vh;
  width: 169px;
  background: #86b5cc;
  position: fixed;
}
.lat-nav{
  margin-top: 50px;
  padding: 0;
  display: block;
}
.lat-nav li{
  list-style: none;
}
.lat-nav a{
  color:white;
  display: block;
  /* background: red; */
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 0px;
  border-bottom: 10px solid #86b5cc;
}
.lat-nav a:hover{
  color: #BECBBC;
}
li.sottocap{
  padding: 5px 0px;
  font-size: 20px;
  font-weight: 700;
  background: #86b5cc;
}
li.sottocap-s{
  font-size: 15px;
  font-style: oblique;
  background: #86b5cc;
  font-weight: bolder;
  padding: 7px 0px;
}
        /* MAIN */
.pagina{
  margin-left: 120px;
  height: 110%;
  width: 70vw;
  margin-top: 55px;
  /* border: solid 1px;
  border-radius: 15px; */
}
        /* FOOTER */
#footer{
margin-right: 0px;
}
.footer{
width: 100%;
}
marquee{
  color:red;
}

        /* VISUALIZZAZIONE CELLULARE */
@media screen and (max-width:915px){
  .chiuso{
    display: none !important;
  }
  #topbar{
    background: rgb(1,32,96);
    width: 100%;
    height: 30px;
  }
  .strumenti-top th{
    width: 50vw;
    font-size: 15px;
    height: 20px;
  }
  table.strumenti-top{
    position: absolute;
    width:100vw;
    background: red;
    margin-top: 0px;
    margin: 0;
    height: 20px;
  }
  .logo a{
    background: rgb(1,32,96);
    font-size: 15px !important;
    height: 20px;
    /* margin-top: -25px; */
    /* padding:10px 10px 0px 10px; */
  }
  .btn-mostra{
    display: block;
    font-size: 15px;
  }
  #lat-bar{
    display:none;
  }
  .pagina{
    height: 110%;
    width: 80vw;
    margin-left: 5px;
  }
  .non-logo{
    display: block;
  }
  .top-nav{
    margin-top: 30px;
    background: rgb(1,32,96);
    display: block;
    width: 100%;
    text-align: center;
  }
  .top-nav a{
    font-size: 10px;
    padding: 5px 5px;
  }
}







}
