body{
  margin: 0;
  background: white;
  font-size: 15px;
  line-height: 1.6;
  color: black;
  -webkit-font-smoothing: antialiased;
}
section{
  display: -webkit-box;
}
a{
  color: white;
}
.corsivo{
  color:red !important;
}
       /* BARRA ORIZZONTALE */

#topbar{
  background: #012060;
  background-size: cover;
  height: 44px;
  z-index: 10;
  position: fixed;
  width: 100%;
  margin: 0;
  margin-left: 0px;
  margin-top: 0px;
}
.top-nav{
  display: flex;
  margin: 0 auto;
  padding: 0px;
  position: fixed;
}
.top-nav li{
  list-style: none;
  border-radius: 10px;
}
.top-nav li:first-child{
  float: left;
  margin-right: 117px;
  background: white;
}
.logo a{
  color:white;
  background: red;
  padding:10px 10px;
  text-decoration: none;
  display: block;
  margin-top: 0px;
}
.non-logo a{
  padding:10px 5px;
  text-decoration: none;
  display: block;
  margin-top: 0px;
}
.attivo{
  color: black;
  background: white;
}

        /* BARRA LATERALE */
#lat-bar{
  height: 100vh;
  width: 169px;
  background: #cccccc;
  position: fixed;
}
.lat-nav{
  margin-top: 50px;
  padding: 0;
  display: block;
}
.lat-nav li{
  list-style: none;
}
.lat-nav a{
  color:black;
  display: block;
  /* background: red; */
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 0px;
  border-bottom: 10px solid #cccccc;
}
.attivotop {
  background: white;
  color:black;
  border-bottom: 10px solid #ffffff !important;
}
li.sottocap{
  font-size: 20px;
  font-weight: 900;
  background: #cccccc;
}
li.sottocap-s{
  font-size: 15px;
  font-style: oblique;
  background: #cccccc;
}
        /* MAIN */
.pagina{
  margin-left: 175px;
  height: 110%;
  width: 70vw;
  margin-top: 50px;
  border: solid 1px;
}

        /* FOOTER */
#footer{
margin-right: 0px;
}
.footer{
width: 100%;
}
marquee{
  color:red;
}
